/*************************base*************************/
html,body{
	position: relative;
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	overflow-x: hidden;
}
img{
	display:block;
	margin: auto;
	width: 100%;
}

/*******************音乐*******************/
.music{
	position: fixed;
	right:20px;
	top:20px;
	z-index: 1000;
}
.open{
	-webkit-animation: moveRo linear 3.5s  infinite;
	animation-delay:0;
}
.icon-music{
	width:1rem;
	height:1rem;
	background: url(../img/base/btn-music.png);
	background-size: 100% 100%;
	display: block;
	opacity: 0.5;
}
/*动画*/
@-webkit-keyframes moveRo {
	from {-webkit-transform: rotate(360deg);  }
	to { -webkit-transform: rotate(-360deg); }
}
@keyframes moveRo {
	from {  transform: rotate(-360deg)}
	to {  transform: rotate(360deg); }
}

@-webkit-keyframes openRo {
	from { }
	to {-webkit-transform: translateY(100%);}
}
@keyframes openRo {
	from { }
	to {transform: translateY(100%);}
}

/*******************page*******************/
.p-content{
	display: block;
	margin:0 auto;
}

.a1{
	width:4.916667rem;
	margin-top: 0.925926rem;
}

.a2{
	margin:0.740741rem auto 0;
	width: 7.611111rem;
}
.a2 img{
	display: inline-block;
}
.a2-1{
	width: 1.990741rem;
	height: 3.314815rem;
	animation-delay:0s;
	-webkit-animation-delay:0s;
}
.a2-2{
	width:1.824074rem;
	height:3.259259rem;
	margin:0 0.8rem;
	animation-delay:0.25s;
	-webkit-animation-delay:0.25s;
}
.a2-3{
	width:1.842593rem;
	height:3.407407rem;
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
}

.a3{
	width:5.509259rem;
	margin-top:0.555556rem;
}

.a4-1{
	width: 5.62963rem;
	height:2.694444rem;
	margin-top:0.694444rem;
	margin-left: 1.342593rem;
	animation-delay:0.25s;
	-webkit-animation-delay:0.25s;
}
.a4-2{
	width: 5.601852rem;
	height:2.685185rem;
	margin-right:1.342593rem;
	animation-delay:0.75s;
	-webkit-animation-delay:0.75s;
}
.a4-3{
	width: 5.62963rem;
	height:2.712963rem;
	margin-left: 1.712963rem;
	animation-delay:1.25s;
	-webkit-animation-delay:1.25s;
}
.a5{
	width:5.453704rem;
	margin-top:1.388889rem; 
}

.a6-content{
	position: relative;
	width: 10.0rem;
	height:8.601852rem;
	overflow:hidden;
}
.a6-1,.a6-2,.a6-3{
	position: absolute;
	width:10rem;
	left:0; 
	right:0;
	margin:0 auto;
}
.a6-1{
	top:0;
	z-index:1;
	animation:obgAni 4s infinite;
	-webkit-animation:obgAni 4s infinite;
}
.a6-2{
	top:-45%;
	left: -42%;
	width:18.407407rem;
	z-index:2;
	-webkit-animation: Bgmove 10s linear infinite;
	animation: Bgmove 10s linear infinite;
}
.a6-3{
	top:-0.6rem;
	width:10.0rem;
	z-index:4;
}

.a8-content{
	position: relative;
	width: 10.0rem;
	height:8.25rem;
	margin:0.416667rem auto 0.925926rem;
}
.a8-img{
	display: none;
}
.a8-0{
	position: absolute;
	width:10rem;
	left:0; 
	right:0;
	margin:0 auto;
}
.a8-1,.a8-2,.a8-3,.a8-4{
	position: absolute;
	width: 3.185185rem;
	height: 3.185185rem;
}
.a8-1{
	top:1.074074rem;
	left:1.944444rem;
	z-index:1;
	animation:T1Ani 1.5s;
	-webkit-animation:T1Ani 1.5s;
}
.a8-2{
	top:1.074074rem;
	right:1.944444rem;
	z-index:2;
	animation:T2Ani 1.5s;
	-webkit-animation:T2Ani 1.5s;
}
.a8-3{
	bottom:1.074074rem;
	left:1.944444rem;
	z-index:3;
	animation:T3Ani 1.5s;
	-webkit-animation:T3Ani 1.5s;
}
.a8-4{
	bottom:1.074074rem;
	right:1.944444rem;
	z-index:4;
	animation:T4Ani 1.5s;
	-webkit-animation:T4Ani 1.5s;
}

.a9{
	width:100%;
}
.a10-content{
	position: relative;
	width: 10rem;
	height: 11rem;
	margin: 0 auto;
}
.a10-1,.a10-2,.a10-3{
	position: absolute;
	left:0; 
	right:0;
	margin:0 auto;
}
.a10-1{
	width:6.731481rem;
	left:-0.45rem;
	z-index:2;
}
.a10-2{
	width:6.990741rem;
	top:1.7rem;
	left:0.15rem;
	z-index:1;
	animation:Omove 3s infinite;
	-webkit-animation:Omove 3s infinite;
}
.a10-3{
	opacity: 0;
	width:5.083333rem;
	top:8.1rem;
	z-index:3;
	animation:Tmove 3s infinite;
	-webkit-animation:Tmove 3s infinite;
}
.a11{
	width:4.055556rem;
}
.a12{
	margin-top: 0.740741rem;
}

@-webkit-keyframes Omove{
	0%{
		-webkit-transform:scale3d(0,0,0);
	}
	65%{
		-webkit-transform:scale3d(1,1,1);
	}
	75%{
		-webkit-transform:scale3d(1,1.05,1);
	}
	80%{
		-webkit-transform:scale3d(1,1,1);
	}
	100%{
	}
}
@keyframes Omove{
	0%{
		transform:scale3d(0,0,0);
	}
	65%{
		transform:scale3d(1,1,1);
	}
	75%{
		transform:scale3d(1,1.05,1);
	}
	80%{
		transform:scale3d(1,1,1);
	}
	100%{
	}
}

@-webkit-keyframes Tmove{
	25%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes Tmove{
	25%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes obgAni{
	0%{
		-webkit-transform:translate(0,0); 
	}
	25%{
		-webkit-transform:translate(10px,0);
	}
	75%{
		-webkit-transform:translate(0,10px);
	}
	100%{
		-webkit-transform:translate(0,0); 
	}
}

@keyframes obgAni{
	0%{
		transform:translate(0,0); 
	}
	25%{
		transform:translate(10px,0);
	}
	75%{
		transform:translate(0,10px);
	}
	100%{
		transform:translate(0,0); 
	}
}

@-webkit-keyframes Bgmove{
	from { 
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes Bgmove{
	from { 
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes T1Ani{
	from { 
		top:0;
		left:-3.185185rem;
	}
	to {
		top:1.074074rem;
		left:1.944444rem;
	}
}
@keyframes T1Ani{
	from { 
		top:0;
		left:-3.185185rem;
	}
	to {
		top:1.074074rem;
		left:1.944444rem;
	}
}

@-webkit-keyframes T2Ani{
	from { 
		top:0;
		right:-3.185185rem;
	}
	to {
		top:1.074074rem;
		right:1.944444rem;
	}
}
@keyframes T2Ani{
	from { 
		top:0;
		right:-3.185185rem;
	}
	to {
		top:1.074074rem;
		right:1.944444rem;
	}
}

@-webkit-keyframes T3Ani{
	from { 
		bottom:0;
		left:-3.185185rem;
	}
	to {
		bottom:1.074074rem;
		left:1.944444rem;
	}
}
@keyframes T3Ani{
	from { 
		bottom:0;
		left:-3.185185rem;
	}
	to {
		bottom:1.074074rem;
		left:1.944444rem;
	}
}

@-webkit-keyframes T4Ani{
	from { 
		bottom:0;
		right:-3.185185rem;
	}
	to {
		bottom:1.074074rem;
		right:1.944444rem;
	}
}
@keyframes T4Ani{
	from { 
		bottom:0;
		right:-3.185185rem;
	}
	to {
		bottom:1.074074rem;
		right:1.944444rem;
	}
}