/*******************PageCss*******************/
/*p1*/
.home-logo{
    top:1.064815rem;
}
.home-logo img{
    width: 3.462963rem;
    height: 2.203704rem;
}
.home-cbg{
    top:4.962963rem;
}
.home-cbg img{
    width:8.638889rem;
    height:5.518519rem
}
.home-a1{
    top:4.2rem;
}
.home-a1 img{
    width:4.222222rem;
    height:3.851852rem
}
.home-ptext{
    top:11.740741rem;
}
.home-ptext img{
    width:6.537037rem;
    height:1.453704rem
}
/*p2*/
.p2-t1{
    top:0.833333rem;
}
.p2-t1 img{
    width:5.824074rem;
    height:0.555556rem;
}
.p2-t2{
    top:2.222222rem;
}
.p2-t2 img{
    width:6.722222rem;
    height:0.731481rem;
}
.p2-t3{
    top:3.240741rem;
}
.p2-t3 img{
    width:4.555556rem;
    height:0.453704rem;
}
.p2-t4{
    top:14.259259rem;
}
.p2-t4 img{
    width:3.648148rem;
    height:0.351852rem;
}
.p2-a img{
    width:6.925926rem;
    height:1.768519rem;
}
.p2-a7 img{
    width:6.925926rem;
    height:1.361111rem;
}
.p2-a1{
    top:4rem;
    z-index: 7;
}
.p2-a2{
    top:5.36rem;
    z-index: 6;
}
.p2-a3{
    top:6.72rem;
    z-index: 5;
}
.p2-a4{
    top:8.08rem;
    z-index: 4;
}
.p2-a5{
    top:9.44rem;
    z-index: 3;
}
.p2-a6{
    top:10.8rem;
    z-index: 2;
}
.p2-a7{
    top:12.16rem;
    z-index: 1;
}
/*p3*/
.p3-t1{
    top:0.972222rem;
}
.p3-t1 img{
    width:4.657407rem;
    height:1.259259rem;
}
.p3-t2{
    top:2.638889rem;
}
.p3-t2 img{
    width:1.787037rem;
    height:1.240741rem;
}
.p3-t3{
    top:4.305556rem;
}
.p3-t3 img{
    width:4.138889rem;
    height:0.407407rem;
}
.p3-t4{
    top:5.055556rem;
}
.p3-t4 img{
    width:4.5rem;
    height:0.842593rem;
}
.p3-t5{
    top:6.648148rem;
}
.p3-t5 img{
    width:2.388889rem;
    height:0.407407rem;
}
.p3-t6{
    top:7.314815rem;
}
.p3-t6 img{
    width:4.555556rem;
    height:0.842593rem;
}
.p3-b1{
    top:8.25rem
}
.p3-b1 img{
    width:8.638889rem;
    height:7.12963rem;
}
.p3-l1{
    top:2.962963rem;
}
.p3-l1 img{
    width:8.638889rem;
    height:12.416667rem;
}
.p3-l2{
    top:6.222222rem;
}
.p3-l2 img{
    width:4.62963rem;
    height:0.027778rem;
}
/*p4*/
.p4-t1{
    top:0.981481rem;
}
.p4-t1 img{
    width:6.407407rem;
    height:1.259259rem;
}
.p4-b1{
    top:4.074074rem;
}
.p4-b1 img{
    width:5.333333rem;
    height:9.12963rem;
}
.p4-b2{
    top:6.990741rem;
}
.p4-b2 img{
    width:6.222222rem;
    height:3.388889rem;
}
.p4-b3{
    top:7.361111rem;
}
.p4-b3 img{
    width:5.657407rem;
    height:2.592593rem;
}
/*p5*/
.p5-t1{
    top:0.990741rem;
}
.p5-t1 img{
    width:4.055556rem;
    height:1.203704rem;
}
.p5-t img{
    width:1.462963rem;
    height:0.740741rem;
}
.p5-t2{
    top:5.555556rem;
}
.p5-t3{
    top:6.944444rem;
}
.p5-t4{
    top:8.333333rem;
}
.p5-t5{
    top:9.62963rem;
}
.p5-t6{
    top:13.888889rem;
}
.p5-t6 img{
    width:2.481481rem;
    height:0.555556rem
}
.p5-b1{
    top:3.037037rem;
    z-index:-100;
}
.p5-b1 img{
    width:10.0rem;
    height:13.212963rem;
}
/*p6*/
.p6-t1{
    top:1.111111rem;
}
.p6-t1 img{
    width:5.657407rem;
    height:2.453704rem;
}
.p6-t2{
    top:13rem;
}
.p6-t2 img{
    width:5.018519rem;
    height:0.555556rem;
}
.p6-t3{
    top:14rem; 
}
.p6-t3 img{
    width:4.768519rem;
    height:0.555556rem;
}
.p6-b1{
    top:4.055556rem;
}
.p6-b1 img{
    width:5.648148rem;
    height:8.416667rem;
}
/*p7*/
.p7-t1{
    top:1.0rem;
}
.p7-t1 img{
    width:7.138889rem;
    height:1.203704rem;
}
.p7-t2{
    top:7.037037rem;
}
.p7-t2 img{
    width:5.425926rem;
    height:1.5rem;
}
.p7-t3{
    top:10.935185rem;
}
.p7-t3 img{
    width:7.37037rem;
    height:1.851852rem;
}
.p7-t4{
    top:13.888889rem;
}
.p7-t4 img{
    width:4.305556rem;
    height:0.555556rem;
}
.p7-b1{
    top:3.12963rem;
}
.p7-b1 img{
    width:8.638889rem;
    height:6.240741rem;
}
.p7-l1{
    top:5.509259rem;
}
.p7-l1 img{
    width:2.564815rem;
    height:4.462963rem;
}
/*p8*/
.p8-t1{
    top:1.046296rem
}
.p8-t1 img{
    width:4.518519rem;
    height:2.027778rem;
}
.p8-t2{
    top:9.722222rem;
}
.p8-t2 img{
    width:7.694444rem;
    height:4.222222rem;
}
.p8-b1{
    top:3.703704rem
}
.p8-b1 img{
    width:4.5rem;
    height:5.111111rem;
}
/*p9*/
.p9-t1{
    top:1.0rem;
}
.p9-t1 img{
    width:5.231481rem;
    height:1.203704rem;
}
.p9-t2{
    top:5.694444rem;
}
.p9-t2 img{
    width:5.796296rem;
    height:0.731481rem;
}
.p9-t3{
    top:8.638889rem;
}
.p9-t3 img{
    width:3.972222rem;
    height:0.416667rem;
}
.p9-t4{
    top:9.62963rem;
}
.p9-t4 img{
    width:6.138889rem;
    height:2.425926rem;
}
.p9-t5{
    top:12.5rem
}
.p9-t5 img{
    width:6.277778rem;
    height:1.851852rem;
}
.p9-b1{
    top:3.12963rem;
}
.p9-b1 img{
    width:8.638889rem;
    height:4.231481rem;
}
.p9-l1{
    top:4.194444rem;
}
.p9-l1 img{
    width:2.564815rem;
    height:3.740741rem;
}
/*p10*/
.p10-t1{
    top:1.527778rem
}
.p10-t1 img{
    width:4.583333rem;
    height:1.111111rem
}
.p10-t2{
    top:4.490741rem
}
.p10-t2 img{
    width:4.296296rem;
    height:1.092593rem
}
.p10-t3{
    top:7.472222rem
}
.p10-t3 img{
    width:3.62963rem;
    height:0.87963rem
}
.p10-t4{
    top:11.824074rem
}
.p10-t4 img{
    width:6.314815rem;
    height:2.564815rem
}
.p10-a1{
    top:3.148148rem
}
.p10-a1 img{
    width:0.916667rem;
    height:0.916667rem
}
.p10-a2{
    top:6.203704rem
}
.p10-a2 img{
    width:0.916667rem;
    height:0.916667rem
}
.p10-a3{
    top:9.212963rem
}
.p10-a3 img{
    width:1.564815rem;
    height:1.638889rem
}
.p10-l1{
    top:1.990741rem
}
.p10-l1 img{
    width:7.203704rem;
    height:8.453704rem
}
/*p11*/
.p11-t1{
    top:1.0rem
}
.p11-t1 img{
    width:4.046296rem;
    height:0.555556rem
}
.p11-t2{
    top:2.314815rem
}
.p11-t2 img{
    width:5.472222rem;
    height:1.287037rem
}
.p11-t3{
    top:13.425926rem
}
.p11-t3 img{
    width:4.416667rem;
    height:1.259259rem
}
.p11-b1{
    top:3.425926rem;
}
.p11-b1 img{
    width:8.62037rem;
    height:9.398148rem
}
/*p12*/
.p12-t1{
    top:1.0rem
}
.p12-t1 img{
    width:5.25rem;
    height:1.259259rem;
}
.p12-t2{
    top:3rem
}
.p12-t2 img{
    width:7.018519rem;
    height:11.416667rem;
}
/*p13*/
.p13-t1{
    top:1.111111rem;
}
.p13-t1 img{
    width:2.648148rem;
    height:0.814815rem;
}
.p13-t2{
    top:2.444444rem;
}
.p13-t2 img{
    width:6.611111rem;
    height:1.111111rem;
}
.p13-b1{
    top:4.537037rem;
    left: 0.833333rem;
}
.p13-b1 img{
    width:6.222222rem;
    height:10.111111rem;
    margin:0;
}
.p13-b2{
    top:5.148148rem;
}
.p13-b2 img{
    width:8.416667rem;
    height:9.388889rem;
}
/*p14*/
.p14-t1{
    top:1.111111rem;
}
.p14-t1 img{
    width:7.472222rem;
    height:1.203704rem;
}
.p14-t2{
    top:4rem;
}
.p14-t2 img{
    width:6.851852rem;
    height:9.666667rem;
}
/*p15*/
.p15-Title img{
    width:5.240741rem;
    height:0.555556rem;
}
.p15-t1{
    top:10.37037rem;
}
.p15-t1 img{
    width:6.62963rem;
    height:1.814815rem;
}
.p15-t2{
    top:12.777778rem;
}
.p15-t2 img{
    width:5.305556rem;
    height:1.518519rem;
}
.p15-a1{
    top:3.055556rem;
}
.p15-a1 img{
    width:7.203704rem;
    height:6.694444rem;
}
/*p16*/
.p16-Title img{
    width:2.305556rem;
    height:0.555556rem;
}
.p16-t1{
    top:2.824074rem;
}
.p16-t1 img{
    width:6.351852rem;
    height:0.657407rem;
}
.p16-b1{
    top:4.85rem;
    left: 0;
}
.p16-b1 img{
    width:9.361111rem;
    height:9.222222rem;
    margin:0;
}
.p16-b2{
    top:4.055556rem;
}
.p16-b2 img{
    width:8.62963rem;
    height:10.722222rem;
}
/*p17*/
.p17-Title img{
    width:4.055556rem;
    height:0.555556rem
}
.p17-a1{
    top:2.990741rem
}
.p17-a1 img{
    width:7.759259rem;
    height:11.305556rem
}
/*p18*/
.p18-Title img{
    width:3.462963rem;
    height:0.555556rem;
}
.p18-t1{
    top:4.166667rem;
}
.p18-t1 img{
    width:5.777778rem;
    height:4.722222rem;
}
.p18-b1{
    top:2.12963rem
}
.p18-b1 img{
    width:9.611111rem;
    height:12.518519rem
}
/*p19*/
.p19-Title img{
    width:4.861111rem;
    height:0.555556rem;
}
.p19-t1{
    top:3.101852rem;
}
.p19-t1 img{
    width:6.731481rem;
    height:9.740741rem;
}
/*p20*/
.p20-Title img{
    width:3.425926rem;
    height:0.555556rem;
}
.p20-t1{
    top:2.666667rem;
}
.p20-t1 img{
    width:8.638889rem;
    height:0.305556rem;
}
.p20-a1{
    top:3.240741rem;
}
.p20-a1 img{
    width:8.638889rem;
    height:11.361111rem;
}
/*p21*/
.p21-Title img{
    width:4.407407rem;
    height:1.203704rem;
}
.p21-a1{
    top:3.4rem
}
.p21-a1 img{
    width:8.638889rem;
    height:11.888889rem;
}
/*p22*/
.p22-Title img{
    width:3.481481rem;
    height:1.259259rem;
}
.p22-t1{
    top:3.240741rem
}
.p22-t1 img{
    width:5.777778rem;
    height:0.833333rem
}
.p22-t2{
    top:12.407407rem
}
.p22-t2 img{
    width:6.953704rem;
    height:2.185185rem
}
.p22-a1{
    top:5.092593rem
}
.p22-a1 img{
    width:6.527778rem;
    height:5.962963rem;
}
.p22-l1{
    top:3.888889rem
}
.p22-l1 img{
    width:8.601852rem;
    height:8.074074rem;
}
/*p23*/
.p23-Title img{
    width:4.12963rem;
    height:0.555556rem
}
.p23-t1{
    top:13.888889rem
}
.p23-t1 img{
    width:6.851852rem;
    height:0.453704rem
}
.p23-a1{
    top:2.685185rem
}
.p23-a1 img{
    width:8.638889rem;
    height:5.916667rem
}
.p23-a2{
    top:8.888889rem
}
.p23-a2 img{
    width:8.638889rem;
    height:4.425926rem;
}
/*p24*/
.p24-t1{
    top:2.592593rem
}
.p24-t1 img{
    width:4.898148rem;
    height:2.666667rem
}
.p24-t2{
    top:6.018519rem
}
.p24-t2 img{
    width:4.944444rem;
    height:2.888889rem
}
.p24-t3{
    top:13.425926rem
}
.p24-t3 img{
    width:4.842593rem;
    height:0.444444rem
}
.p24-a1{
    top:9.675926rem
}
.p24-a1 img{
    width:1.481481rem;
    height:3.0rem
}
/*p25*/
.p25-t1{
    top:8.333333rem
}
.p25-t1 img{
    width:6.333333rem;
    height:5.851852rem
}
.p25-a1{
    top:3.703704rem
}
.p25-a1 img{
    width:5.555556rem;
    height:3.851852rem
}
.p25-b1{
    top:2.12963rem
}
.p25-b1 img{
    width:8.638889rem;
    height:4.768519rem
}
/*p26*/
.p26-Title img{
    width:6.416667rem;
    height:1.333333rem
}
.p26-b1{
    top:3.5rem
}
.p26-b1 img{
    width:6.481481rem;
    height:9.175926rem
}
.p26-t1{
    top:14.101852rem
}
.p26-t1 img{
    width:6.481481rem;
    height:1.009259rem
}
.p26-form{
    top:4rem;
    width: 100%;
    text-align: center;
    z-index: 100;
}
.p26-form input{
    position: relative;
    width: 6.481481rem;
    height: 0.796296rem;
    border:1px solid #9c999a;
    background-color:transparent;
}
.p26-pname{
}
.p26-linkman{
    top:0.9rem;
}
.p26-phone{
    top:1.9rem;
}
.p26-address{
    top:2.8rem;
}
.p26-arange{
    top:3.7rem;
}
.p26-total{
    top:4.7rem
}
.p26-form .p26-submit{
    top:5rem;
    height: 1.3rem;
    border:0;
    z-index: 1000;
}
/*p27*/
.p27-Title img{
    width:4.046296rem;
    height:1.25rem;
    position: relative;
    z-index:100;
}
.p27-a1{
    top:0.592593rem
}
.p27-a1 img{
    width:10.0rem;
    height:14.481481rem;
}
.p27-a2 {
    top:2.981481rem
}
.p27-a2 img{
    width:8.435185rem;
    height:11.666667rem
}
/*p28*/
.p28-t1{
    top:2.157407rem
}
.p28-t1 img{
    width:6.518519rem;
    height:0.555556rem
}
.p28-a1{
    top:3.333333rem
}
.p28-a1 img{
    width:8.898148rem;
    height:12.166667rem;
}
/*p29*/
.p29-Title img{
    width:2.490741rem;
    height:0.555556rem
}
.p29-t1{
    top:3.009259rem
}
.p29-t1 img{
    width:7.416667rem;
    height:5.861111rem
}
.p29-a1 {
    top:9.787037rem
}
.p29-a1 img{
    width:7.416667rem;
    height:5.018519rem
}