.clear{
    clear: both;
}
body{
    background:#ffffff;   
	padding: 0;
    margin: 0;
    font-family: youyuan,"Droid Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif;
}
.banner{
    width: 100%;
    font-size:0;
}
img{
    width: 100%;
}
.product_title{
    width: 100%;
    height: 50px;
    background: #fafafa;
}
.title_content,.join_method,.product_introduce,.getPricePerson,.personName{
    margin-left: 16px;
    margin-right: 16px;
}
.title_content{
    height: 100%;
}
.product_name,.product_free,.product_price{
    float: left;
    line-height: 50px;
}
.join_person{
    float: right;
    margin-top: 5px;
}
.product_name{
    font-size: 17px;
    color: #333333;
}
.product_free{
    font-size: 19px;
    font-family: Berlin Sans FB;
    color: #ff437a;
    margin-left: 5px;
}
.product_price{
    font-size: 12px;
    font-family: Helvetica;
    color: #999999;
    text-decoration: line-through;
    margin-left: 10px;
}
.join_person{
    float: right;
}
.person_count{
    font-family: Helvetica;
    font-size: 23px;
    color: #ff437a;
    text-align: right;
}
.person{
    font-size: 12px;
    color: #333333;
    text-align: right;
}
.blank{
    height: 20px;
}
.product_introduce{
    font-size: 14px;
    color: #666666;
    line-height: 24px;
}
.join_method{
    height: 75px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    line-height: 18px;
}
.method{
    width: 47%;
    height: 100%;
    float: left;
    background: #fafafa;
}
.time{
    width: 47%;
    height: 100%;
    float: right;
    background: #fafafa;
}
.method .firstline{
    margin-top: 10px;
}
.time .firstline{
    margin-top: 19px;
}
.starttime,.endtime{
    font-size: 12px;
    font-family: Helvetica;
}
.own{
  height: 15px;
  line-height: 15px;
  font-size: 7px;
  color: #acacac;
  width: 100%;
  text-align: center;
}
.fixblank{
    width: 100%;
    height: 44px;
}
.btnJoin{
    color: #ffffff;
    font-size: 20px;
    background: #ff4a73;
    line-height: 44px;
    height: 44px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
}
/*活动结束*/
.getPricePerson{
    background: #fafafa;
    text-align: center;
}
.nameList{
    color: #ff437a;
    font-size: 15px;
}
.personName{
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 25px;
}
.personName span{
    margin-right: 10px;
}
 @media screen and (max-width: 320px) {
.title_content,.join_method,.product_introduce{
    margin-left: 10px;
    margin-right: 10px;
}
.join_person{
    margin-top: 7px;
}
.product_name{
    font-size: 15px;
}
.product_free{
    font-size: 17px;
    margin-left: 2px;
}
.product_price{
    font-size: 10px;
    margin-left: 5px;
}
.person_count{
    font-size: 20px;
}
.person{
    font-size: 10px;
}
.product_introduce{
    font-size: 12px;
}
.personName {
    font-size: 12px;
}
}
