<!DOCTYPE html>
<html lang="en" ng-app="maccoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Macco Admin - Bootstrap Admin Template</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/public.css" rel="stylesheet">
    <link href="/css/showList.css" rel="stylesheet">
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/common.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ng-file-upload-all.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/controllers/sidebarController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/Show/ShowManager.js"></script>
</head>

<body>
    <div id="wrapper">
      <input type="hidden" ng-model="templateurl" ng-init="templateurl='/Sidebar.html'" />
      <div id="nav" ng-include="templateurl"></div>
      <div id="page-wrapper" style="float:right;" ng-controller="ShowListController">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">后台记录管理</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="index.html">Macco Admin</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i>后台记录管理</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <h2 style="display:inline-block;">后台记录列表</h2>
                        <button type="button" class="btn btn-primary" ng-click="AddNew()"style="margin-bottom: 10px;margin-left: 20px;">新增记录</button>
                    </div>
                    <div style="display:inline-block;width: 100%; margin-bottom:5px;">
                        <div class="pull-down">
                            <select class="form-control" ng-change="search()" ng-model="SType" ng-options="stype.ID as stype.Name for stype in stypes">
                            </select>
                        </div>
                    </div>
                    <div class="DataContainer">
                        <div class="TableTitle">
                            <div class="col_id">ID</div>
                            <div class="col_keyno">唯一编码</div>
                            <div class="col_cover_image">封面</div>
                            <div class="col_publish">是否发布</div>
                            <div class="col_publish_time">创建时间</div>
                            <div class="col_operation">操作</div>
                        </div>
                        <div class="clearboth"></div>
                        <div infinite-scroll='macco.nextPage()' infinite-scroll-listen-for-event="list:search" infinite-scroll-disabled='macco.busy'
                        infinite-scroll-distance='0'>
                        <div ng-repeat="item in macco.items">
                            <div class="WrapContent">
                                <div class="col_id">
                                    <span class="mobileId">ID:</span><span ng-bind="item.ID"></span>
                                </div>
                                <div class="col_keyno">
                                  <span class="mobileKeyno">唯一编码:</span><span ng-bind="item.KeyNo"></span>
                              </div>
                              <div class="col_cover_image" style="background: url('{{item.ImageUrl}}');background-size: cover;">
                                <span class="mobileImage">首页图片:</span>
                                <img ng-src="{{item.ImageUrl}}">
                            </div>
                            <div class="col_publish">
                                <span class="mobilepublish">是否发布:</span>
                                <span ng-bind="item.IsPublishText"></span>
                            </div>
                            <div class="col_publish_time">
                                <span class="mobilePublishTime">创建时间:</span>
                                <span ng-bind="item.CreateTime"></span>
                            </div>
                            <div class="col_operation">
                                <span class="mobileOperation">操作:</span>
                                <a ng-click="Visit(item.ID)" title="查看" class="btn btn-success glyphicon glyphicon-search"></a>
                                <a ng-click="Update(item.ID,item.KeyNo,item.IsPublish)" title="编辑" class="btn btn-info glyphicon glyphicon-edit"></a>
                                <a ng-click="Delete(item.KeyNo)" title="删除"  ng-disabled="item.IsDeletedFlag" class="btn btn-danger glyphicon glyphicon-trash"></a>
                                <a ng-click="Publish(item.KeyNo)" title="发布" ng-disabled="item.IsPublishFlag"  class="btn btn-success glyphicon glyphicon-new-window"></a>
                                <a ng-click="TimePublish(item.ID,this.Token)" title="定时发布" ng-disabled="item.IsTimePublishFlag"  class="btn btn-info glyphicon glyphicon-time"></a>
                                <a ng-click="EditComment(item.KeyNo,item.ID,this.Token)"  title="评论" ng-disabled="!item.IsTimePublishFlag" class="btn btn-success glyphicon glyphicon-comment"></a>
                                <!-- <a ng-click="ToHome(item.KeyNo,this.Token)" title="推至晒一晒首页"  ng-show="!item.IsRecommendedFlag" class="btn btn-info glyphicon glyphicon-heart-empty"></a>
                                <a ng-click="RemoveHome(item.KeyNo,this.Token)" title="取消推至晒一晒首页" ng-show="item.IsRecommendedFlag"  class="btn btn-info glyphicon glyphicon-heart"></a> -->
                                <a ng-click="ToLike(item.KeyNo,this.Token)" title="推至喜欢"  ng-disabled="!item.IsTimePublishFlag" ng-show="!item.IsRecommendLikeFlag" class="btn btn-success glyphicon glyphicon-star-empty"></a>
                                <a ng-click="RemoveLike(item.KeyNo,this.Token)" title="取消推至喜欢" ng-disabled="!item.IsTimePublishFlag" ng-show="item.IsRecommendLikeFlag"  class="btn btn-success glyphicon glyphicon-star"></a>
                                <div style="margin-top:20px;" ng-show="LikeShowFlag==item.KeyNo">
                                <div style="width:45%;float:left">
                                        <select class="form-control" ng-model="TagID" ng-options="tag.ID as tag.TagName for tag in Liketags">
                                        </select>
                                    </div>
                                    <div style="width:45%;float:left" >
                                        <button type="button" class="btn btn-primary" ng-click="SubmitLike()"style="margin-bottom: 10px;margin-left: 20px;">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearboth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>