<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>FRANGI 品牌</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no,email=no">
	<link rel="icon" href="../../IMG/frangi.ico" type="image/x-icon">
	<!-- publicCSS -->
	<link rel="stylesheet" href="../css/public.css">
	<!-- pluginsJS -->
	<script src="../../JS/flexible_css.js"></script>
	<script src="../../JS/flexible.js"></script>
	<!-- h5.frangi.cn Baidu tongji analytics -->
	<script src="../../JS/baiduhm.js"></script>
</head>

<body>
	<!-- header-container-->
	<!-- <header class="top-bar">
		<a href="../index.html" class="page-back"></a>
		<span>品牌</span>
	</header> -->
	<!-- content-container -->
	<ul class="li-box base-box">
		<li linkurl="company/taglist.html">
			<img src="../img/brand/1.jpg">
			<p>公司介绍</p>
		</li>
		<li linkurl="enterprise/intro.html">
			<img src="../img/brand/2.jpg">
			<p>企业时讯</p>
		</li>
		<li linkurl="team/intro.html">
			<img src="../img/brand/3.jpg">
			<p>团队介绍</p> 
		</li>
	</ul>
	<!-- pluginsJS -->
	<script src="../../JS/zepto.min.js"></script>
	<!-- PublicJS -->
	<script src="../js/public.js"></script>
</body>
</html> 