<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>FRANGI 产品</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no,email=no">
	<link rel="icon" href="../../IMG/frangi.ico" type="image/x-icon">
	<!-- publicCSS -->
	<link rel="stylesheet" href="../css/public.css">
	<!-- pluginsJS -->
	<script src="../../JS/flexible_css.js"></script>
	<script src="../../JS/flexible.js"></script>
	<!-- h5.frangi.cn Baidu tongji analytics -->
	<script src="../../JS/baiduhm.js"></script>
</head>

<body>
	<!-- header-container-->
	<!-- <header class="top-bar">
		<a href="../index.html" class="page-back"></a>
		<span>产品</span>
	</header> -->
	<!-- content-container -->
	<ul class="li-box base-box">
		<li linkurl="pro/morning.html">
			<img src="../img/pro/8.jpg">
			<p>早安图</p>
		</li>
		<li linkurl="pro/week.html">
			<img src="../img/pro/9.jpg">
			<p>周末愉快</p>
		</li>
		<li linkurl="pro/skin.html">
			<img src="../img/pro/10.jpg">
			<p>护肤</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-oil">
			<img src="../img/pro/11.jpg">
			<p>角鲨烷奢嫩精华油</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-hand">
			<img src="../img/pro/12.jpg">
			<p>护手霜</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-god">
			<img src="../img/pro/1.jpg">
			<p>明星单品女神水</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-mask">
			<img src="../img/pro/2.jpg">
			<p>面膜</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-revitalizing">
			<img src="../img/pro/3.jpg">
			<p>男士活力润养</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-hydro">
			<img src="../img/pro/4.jpg">
			<p>菁容焕采系列</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-joyful">
			<img src="../img/pro/5.jpg">
			<p>雪颜晶透系列</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-hydra">
			<img src="../img/pro/6.jpg">
			<p>玉肌水润系列</p>
		</li>
		<li linkurl="pro/taglist.html?ProID=pro-gift">
			<img src="../img/pro/7.jpg">
			<p>礼盒系列</p>
		</li>
	</ul>
	<!-- pluginsJS -->
	<script src="../../JS/zepto.min.js"></script>
	<!-- PublicJS -->
	<script src="../js/public.js"></script>
	<script src="../js/pro.js"></script>
</body>
</html> 