<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Test</title>
	<link href="~/CSS/pop.css" rel="stylesheet" />
	<script src="~/Script/jquery-1.8.2.min.js"></script>
	<script src="~/Script/pop.js"></script>
	<script src="~/Script/test.js"></script>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		body{ 
			margin: 0px;
			padding: 0px;
			font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
			list-style: none;
		}
		.main{
			margin:400px;
		}
		button{
			width: 100px;
			height: 50px;
			margin: 50px;
		}
	</style>
</head>
<body>
	<div class="main">
		<button class="alert">alert</button>
		<button class="confirm">confirm</button>
		<button class="prom">prom</button>
	</div>

	<div class="main">
		<button class="alert">alert</button>
		<button class="confirm">confirm</button>
		<button class="prom">prom</button>
	</div>
</body>
</html>
