<!DOCTYPE html>
<html lang="en" ng-app="maccoApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Macco Admin - Bootstrap Admin Template</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/public.css" rel="stylesheet">
    <link href="/css/commentList.css" rel="stylesheet">
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/common.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ng-file-upload-all.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/controllers/sidebarController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/Comment/CommentManager.js"></script>
</head>

<body>
    <div id="wrapper">
      <input type="hidden" ng-model="templateurl" ng-init="templateurl='/Sidebar.html'" />
      <div id="nav" ng-include="templateurl"></div>
      <div id="page-wrapper" style="float:right;" ng-controller="CommentListController">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">评论管理</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="index.html">Macco Admin</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i>评论管理</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <h2 style="display:inline-block;">评论列表</h2>
                    </div>
                    <div style="display:inline-block;width: 100%; margin-bottom:5px;">
                        <div class="pull-down">
                            <select class="form-control" ng-change="search()" ng-model="SType" ng-options="stype.ID as stype.Name for stype in stypes">
                            </select>
                    </div>
                    </div>
                    <div class="DataContainer">
                        <div class="TableTitle">
                            <div class="col_id">ID</div>
                            <div class="col_username">用户名</div>
                            <div class="col_cover_image">头像</div>
                            <div class="col_content">内容</div>
                            <div class="col_operation" style="width:25%">操作</div>
                        </div>
                        <div class="clearboth"></div>
                        <div infinite-scroll='macco.nextPage()' infinite-scroll-listen-for-event="list:search" infinite-scroll-disabled='macco.busy'
                        infinite-scroll-distance='0'>
                        <div ng-repeat="item in macco.items">
                            <div class="WrapContent">
                                <div class="col_id">
                                    <span class="mobileId">ID:</span><span ng-bind="item.ID"></span>
                                </div>
                                <div class="col_username">
                                    <span class="mobileUsername">用户名:</span><span ng-bind="item.NickName"></span>
                                </div>
                                <div class="col_cover_image" >
                                    <div class="cover_bg" style="background: url('{{item.Avatar}}');background-size:cover;">
                                    </div>
                                    <span class="mobileImage">头像:</span>
                                    <img ng-src="{{item.Avatar}}">
                                </div>
                                <div class="col_content">
                                    <span class="mobileContent">内容:</span>
                                    <span ng-bind="item.Comment"></span>
                                </div>
                                <div class="col_operation" style="width:25%">
                                    <span class="mobileOperation">操作:</span>
                                    <a ng-click="Delete(item.ID)" title="删除" class="btn btn-danger glyphicon glyphicon-trash"></a>
                                </div>
                            </div>
                            <div class="clearboth"></div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
    </body>

    </html>