.selectList{
	display:inline-block;
	width: 100%;	
}
.DataContainer>div:nth-child(n(a1+an)/2 ){
	background-color: #f9f9f9;
}
.first{
		margin-left: 10px;
}
.col_id {
	width: 5%; 
}
.col_keyno{
    width: 10%;
	word-wrap: break-word;
}
.col_chinaName {
	width:10%;
	min-width: 305px;
	min-width: 20px;
}
.col_englishName {
	width: 7%;
}
.col_price {
	width: 5%;
}
.col_type {
	width: 5%;
}
.col_brand{
	width: 10%;
}
.col_publish{	
    width:5%;
}
.col_publish_time {
	width: 10%;
}
.col_operation {
	width:13%;
}
.col_cover_image {
	width:10%;
}
.mobileId,
.mobileKeyno,
.mobilechinaName,
.mobileenglishName,
.mobileImage,
.mobileprice,
.mobiletype,
.mobilebrand,
.mobilePublishTime,
.mobilepublish,
.mobileOperation{
	display: none;
}
@media(max-width:768px) {
.WrapContent {
 height: 650px;
  max-height: 650px; 
}
.col_cover_image {
	min-height: 256px;
}
.WrapContent > .col_cover_image:hover > img {
	display: none;
	-webkit-animation-name: "";
	-moz-animation-name: "";
	-o-animation-name: "";
	-ms-animation-name: "";
	animation-name: "";
}
.mobileId,
.mobileKeyno,
.mobilechinaName,
.mobileenglishName,
.mobileImage,
.mobilebrand,
.mobileprice,
.mobiletype,
.mobilePublishTime,
.mobileOperation{
	 display: inline-block;
} 
.mobilepublish{
	display: inline-block;
}

}
@media(max-width:414px) {
	.keyword{
		  min-width: 100px;
	}
	.first{
		margin-left: 30px;
	}
	.pull-down {
  margin-right: 2px;
   }
   .selectList{
	margin-bottom: 10px;
   }
}