.pull-down{
	margin-left: 10px;
}
.mobilepublish{
	display: none;
}
.col_id {
	width:10%; 
}
.col_keyno{
	width:15%;
	word-wrap: break-word;
}
.col_cover_image {
	width:20%;
}
.col_publish{
    width:10%;
}
.col_publish_time {
	width:15%;
}
.col_operation {
	width:30%;
}
.mobileId,
.mobileImage,
.mobileKeyno,
.mobilePublishTime,
.mobileOperation{
	display: none;
 } 
@media(max-width:768px) {
.WrapContent {
  height: 650px;
  max-height: 650px;
}

.col_cover_image {
	min-height: 256px;
}
.WrapContent > .col_cover_image:hover > img {
	display: none;
	-webkit-animation-name: "";
	-moz-animation-name: "";
	-o-animation-name: "";
	-ms-animation-name: "";
	animation-name: "";
}
.mobileId,
.mobileImage,
.mobileKeyno,
.mobilePublishTime,
.mobileOperation{
    display: inline-block;
    } 

}
@media(max-width:414px) {
.mobilepublish{
	display: inline-block;
}
}