.pull-down {
  margin-left: 10px;
}
.col_id {
	width:10%; 
}
.col_people{
	width:30%;
}
.col_record{
	width:30%;
}
.col_operation {
	width:30%;
}
.mobileId,
.mobilePeople,
.mobileRecord,
.mobileOperation{
	display: none;
}
@media(max-width:768px) {
.TableTitle,.WrapContent {
  height: 320px;
  max-height: 320px;
}
.mobileId,
.mobilePeople,
.mobileRecord,
.mobileOperation{
	    display: inline-block;
} 
@media(max-width:414px) {
	.keyword{
	   min-width: 100px;
       width: 40%;
	}
	.pull-down {
     width: 40%;
	 margin-left: 20px;
	}
}