<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-body">
				<div class="well">
					<h4 class="block">基本信息</h4>
					<p><span class="font-blue-steel">产品名称：</span>填写该产品的名称；</p>
					<p><span class="font-blue-steel">产品品牌：</span>填写该产品的品牌；</p>
					<p><span class="font-blue-steel">产品型号：</span>填写该产品的型号；</p>
					<p><span class="font-blue-steel">产品描述：</span>填写该产品的描述；</p>
					<p><span class="font-blue-steel">产品类别：</span>选择该产品对应的分类；</p>
				</div>
				<div class="well">
					<h4 class="block">产品信息</h4>
					<p><span class="font-blue-steel">产品介绍：</span>填写该产品可实现的整体功能描述；</p>
					<p><span class="font-blue-steel">产品图片：</span>上传该产品的外观图片；</p>
				</div>
				<div class="well">
					<h4 class="block">产品配置</h4>
					<p><span class="font-blue-steel">联网方式：</span>支持WiFi、蓝牙、2G/3G/4G等联网方式；如您选择的是WiFi产品，如您有疑问，请咨询 Fog@mxchip.com；</p>
				</div>
			</div>
		</div>
	</div>
</div>