<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>类型列表</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no,email=no">
	<link rel="icon" href="../../../IMG/frangi.ico" type="image/x-icon">
	<!-- publicCSS -->
	<link rel="stylesheet" href="../../css/public.css">
	<!-- pluginsJS -->
	<script src="../../../JS/flexible_css.js"></script>
	<script src="../../../JS/flexible.js"></script>
	<!-- h5.frangi.cn Baidu tongji analytics -->
	<script src="../../../JS/baiduhm.js"></script>
</head>

<body>
	<!-- header-container-->
	<!-- <header class="top-bar">
		<a href="../pro-classify.html" class="page-back"></a>
		<span>类型列表</span>
	</header> -->
	<!-- content-container -->
	<ul class="type-box tag-box">
		<li linkurl="brush.html">
			<img src="../../img/base/tag-ico/brush-btn.png" class="type-btn">
			<p>场景图</p>
		</li>
		<li linkurl="poster.html">
			<img src="../../img/base/tag-ico/poster-btn.png" class="type-btn">
			<p>海报图</p>
		</li>
		<li linkurl="proimg.html">
			<img src="../../img/base/tag-ico/proimg-btn.png" class="type-btn">
			<p>产品图</p>
		</li>
		<li linkurl="component.html">
			<img src="../../img/base/tag-ico/component-btn.png" class="type-btn">
			<p>成分图</p>
		</li>
		<li linkurl="efficacy.html">
			<img src="../../img/base/tag-ico/efficacy-btn.png" class="type-btn">
			<p>功效图</p>
		</li>
		<li linkurl="use.html">
			<img src="../../img/base/tag-ico/use-btn.png" class="type-btn">
			<p>使用图</p>
		</li>
		<li linkurl="case.html">
			<img src="../../img/base/tag-ico/case-btn.png" class="type-btn">
			<p>案例图</p>
		</li>
	</ul>
	<!-- pluginsJS -->
	<script src="../../../JS/zepto.min.js"></script>
	<!-- PublicJS -->
	<script src="../../js/public.js"></script>
	<script src="../../js/pro.js"></script>
</body>
</html> 

