<!DOCTYPE html>
<html lang="en" ng-app="maccoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Macco Admin - Bootstrap Admin Template</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/public.css" rel="stylesheet">
    <link href="/css/PushList.css" rel="stylesheet">
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/common.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ng-file-upload-all.js"></script>
    <script type="text/javascript" src="/scripts/Lib/node_modules/angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/controllers/sidebarController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/Push/PushManager.js"></script>
</head>

<body>
    <div id="wrapper">
      <input type="hidden" ng-model="templateurl" ng-init="templateurl='/Sidebar.html'" />
      <div id="nav" ng-include="templateurl"></div>
      <div id="page-wrapper" style="float:right;" ng-controller="PushController">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">推送管理</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="index.html">Macco Admin</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i>推送管理
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <h2 style="display:inline-block;">推送列表</h2>
                </div>
                <div class="DataContainer">
                    <div class="TableTitle">
                        <div class="col_id">唯一编码</div>
                        <div class="col_time">预定时间</div>
                        <div class="col_content">内容</div>
                        <div class="col_platform">平台</div>
                        <div class="col_operation">操作</div>
                    </div>
                    <div ng-repeat="item in items">
                        <div class="WrapContent">
                            <div class="col_id">
                                <span class="mobileId">唯一编码:</span><span ng-bind="item.KeyNo"></span>
                            </div>
                            <div class="col_time">
                                <span class="mobileTime">预定时间:</span><span ng-bind="item.Time"></span>
                            </div>
                            <div class="col_content" >
                                <span class="mobileContent">内容:</span><span ng-bind="item.Content"></span>
                            </div>
                            <div class="col_platform">
                                <span class="mobilePlatform">平台:</span><span ng-bind="item.Comment"></span>
                            </div>
                            <div class="col_operation">
                                <span class="mobileOperation">操作:</span>
                                <a ng-click="Delete(item.KeyNo)" title="删除" class="btn btn-danger glyphicon glyphicon-trash"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>