/*************************base*************************/
html,body{
    position: relative;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    overflow-x: hidden;
}
img{
    display:block;
    margin: auto;
    width: 100%;
}

/*******************音乐*******************/
.music{
    position: fixed;
    right:20px;
    top:20px;
    z-index: 1000;
}
.open{
    -webkit-animation: moveRo linear 3.5s  infinite;
    animation-delay:0;
}
.icon-music{
    width:1rem;
    height:1rem;
    background: url(../img/base/btn-music.png);
    background-size: 100% 100%;
    display: block;
    opacity: 0.5;
}
/*动画*/
@-webkit-keyframes moveRo {
    from {-webkit-transform: rotate(360deg);  }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes moveRo {
    from {  transform: rotate(-360deg)}
    to {  transform: rotate(360deg); }
}

@-webkit-keyframes openRo {
    from { }
    to {-webkit-transform: translateY(100%);}
}
@keyframes openRo {
    from { }
    to {transform: translateY(100%);}
}

/* 加载页面 */
.mask{
    display: none;
    z-index:999999;
    height:100%;
    width: 100%;
    position:fixed;
    top:0px;
    left: 0px;
    background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    background-color:rgba(0,0,0,0.6); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
    text-align: center;
}
.mask div{
    color: #ffffff;
    font-size:0.5rem;
    height:1rem;
    line-height: 1rem;
    position: fixed;
    margin:auto;
    left:0; 
    right:0; 
    top:0; 
    bottom:0;
}
.mask .result{
    display: none;
}
/*******************page*******************/
.p-content{
    position: relative;
    display: block;
    margin:0 auto;
}
.t-content{
    position: absolute;
    top:23rem;
    z-index: 100;
}
.p-b1{
    position: absolute;
    width:10rem;
}
.p-b1 img{
    width:6.481481rem;
    height:9.175926rem
}
.p-t1{
    position: absolute;
    width:10rem;
    top:11rem
}
.p-t1 img{
    width:6.481481rem;
    height:1.009259rem
}
.p-form{
    position: absolute;
    width:10rem;
    top:0.6rem;
    text-align: center;
}
.p-form input{
    position: relative;
    width: 6.481481rem;
    height: 0.796296rem;
    border:1px solid #9c999a;
    background-color:transparent;
}
.p-pname{
}
.p-linkman{
    top:0.9rem;
}
.p-phone{
    top:1.9rem;
}
.p-address{
    top:2.8rem;
}
.p-arange{
    top:3.7rem;
}
.p-total{
    top:4.7rem
}
.p-form .p-submit{
    top:5rem;
    height: 1.3rem;
    border:0;
    z-index: 1000;
}