<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>奢养金粹眼部精华霜</title>
	<meta name="keywords" content="奢养金粹眼部精华霜" />
	<meta name="description" content="12种赋活功效，令肌肤重获活力、强韧和光泽。" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no,email=no">
	<link rel="icon" href="../../IMG/frangi.ico" type="image/x-icon">
	<!-- pluginsCSS -->
	<link rel="stylesheet" href="../../CSS/animate.min.css">
	<!-- pageCSS -->
	<link rel="stylesheet" href="../css/newpublic.css">
	<!-- pluginsJS -->
	<script src="../../JS/flexible_css.js"></script>
	<script src="../../JS/flexible.js"></script>
	<!-- h5.frangi.cn Baidu tongji analytics -->
	<script src="../../JS/baiduhm.js"></script>
</head>

<body>
	<!-- Music-bg -->
	<div class="music" onclick="MusicBgClick()">
		<i class="icon-music open" play="1"></i>
		<audio id="music-bg" src="../video/music-bg.mp3" loop="loop" autoplay="autoplay" loop="loop"></audio>
	</div>
	<div class="p-content">
		<img src="../img/pro-preeye/post.jpg">
	</div>
	<!-- pluginsJS -->
	<script src="../../JS/jquery-3.2.1.min.js"></script>
	<script src="../../JS/jweixin.js"></script>
	<script src="../../JS/jquery.lazyload.min.js"></script>
	<!-- PublicJS -->
	<script src="../js/newpublic.js"></script>	
	<script>
		CurProName='奢养金粹眼部精华霜';
		CurProDesc='12种赋活功效，令肌肤重获活力、强韧和光泽。';
		CurProUrl='pro-preeye.html';
	</script>
</body>
</html> 
