<!DOCTYPE html>
<html lang="en" ng-app="maccoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <style>
        @font-face {
            font-family: 'youyuan';
            src: url(data:font/ttf;base64,FONTBASE64) format('truetype');
        }
    </style>
    <link href="../css/public.css" rel="stylesheet" charset="UTF-8">
    <!--<link href="../css/footer.css" rel="stylesheet">-->
    <link href="../css/comment.css" rel="stylesheet" charset="UTF-8">
    <link href="../css/comments.css" rel="stylesheet" charset="UTF-8">
    <link href="../css/zan.css" rel="stylesheet" charset="UTF-8">
    <link href="css/tryMakeup.css" rel="stylesheet" charset="UTF-8">
    <script type="text/javascript" src="/JS/config.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/JS/jquery-2.1.4.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/JS/node_modules/angular/angular.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/JS/node_modules/angular/ng-infinite-scroll.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/TryMakeup/JS/dataSource.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/TryMakeup/JS/comments.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/TryMakeup/JS/zan.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/TryMakeup/JS/TryMakeup.js" charset="UTF-8"></script>
</head>

<body ng-controller="ProductListCtrl" style="background: url('images/bg.png') repeat;">
    <div id="head" class="head ">
        <img id="model1" ng-show="HasImage" ng-src="{{ImageUrl}}" src="images/model.jpg">
        <img id="model" ng-show="!HasImage" src="images/model.jpg">
        <div class="mask">
            <img src="images/mask.png " id="mask">
        </div>
    </div>
   <input type="hidden" ng-model="zanurl" ng-init="zanurl='/TryMakeup/zan.html'" />
   <div id="add_zan" ng-include="zanurl"></div>
    <div class="theme bigWordSize">你也可以拥有美凤眼</div>
    <div class="clear"></div>
    <div class="smallWordSize TextContent">
        <div>有没有发现</div>
        <div>生活中还是以单眼皮</div>
        <div>内双的人居多哦</div>
        <div>其实只要掌握正确的化妆技巧</div>
        <div>你都可以通过眼妆让你的双眼变大</div>
        <div>变美，下面和小美一起来学习眼影的画法吧！</div>
    </div>
    <div class="bigWordSize mainPointText">妆容要点</div>
    <div class="smallWordSize TextContent">
        <div>单眼皮、内双的眼形通常都是横长形的</div>
        <div>建议选择大地色系的眼影来横向扩张眼睛形状</div>
        <div>保持自然感</div>
    </div>

    <div class="wapStep bigWordSize" id="stepOne">
        <div class="step ">Step 1</div>
        <div class="stepName bigWordSize ">眼影的选择</div>
        <div class="RelatedImg"><img src="images/1.jpg"></div>
        <div class="ImgTextIntroduce bestSmallWordSize">一般在眼角外侧加入棕色来强调眼尾</div>
    </div>
    <div class="smallWordSize debriefing ">
        用自带微闪的散粉给整个眼眶做定妆，上眼尾的外侧加入深棕色来勾勒轮廓，在用哑光的浅棕色来提升明亮度。
    </div>
    <div class="closeFrame"></div>
    <input type="hidden " ng-model="productQuery1 " ng-init="productQuery1='CourseStep1' ">
    <div class="productList " ng-click='this[redirectFunc](this.Product.ProductID)' style="cursor:pointer
                " ng-repeat="Product in Products | filter:productQuery1 as Result ">
        <input class="ProductID " type="hidden " ng-bind="Product.ProductID ">
        <div class="productPresentation ">
            <div class="product ">
                <img ng-src="{{Product.ProductImageUrl}} ">
            </div>
            <div class="productInfo ">
                <div class="brand " ng-bind="Product.BrandName "></div>
                <div class="productName " ng-bind="Product.ProductName "></div>
                <div class="start ">
                    <div class="startImg " ng-repeat="rank in Product.Ranks ">
                        <img src="images/start.png ">
                    </div>
                </div>
            </div>
            <div class="eyeShadow " ng-switch="Product.CategoryID ">
                <img ng-switch-when="14 " src="images/eyeShadow.png ">
                <img ng-switch-when="12 " src="images/eyelasher.png ">
                <img ng-switch-when="13 " src="images/eyelinner.png ">
                <img ng-switch-when="4 " src="images/blush.png ">
                <img ng-switch-when="7 " src="images/lipgloss.png ">
                <img ng-switch-when="9 " src="images/lipstick.png ">
				<img ng-switch-when="6" src="images/fundation.png">
            </div>
            <div class="praise ">
                <img src="images/praise.png ">
                <span class="praiseNum " ng-bind="Product.Comments ">9999</span>
            </div>
        </div>
    </div>
    <div class="wapStep bigWordSize" id="stepTwo">
        <div class="step ">Step 2</div>
        <div class="stepName bigWordSize ">眼线勾轮廓</div>
        <div class="RelatedImg"><img src="images/2.jpg"></div>
        <div class="ImgTextIntroduce bestSmallWordSize">用小号眼影刷将眼线沿着眼眶微微晕染开</div>
    </div>
    <div class="smallWordSize debriefing ">
        想要打清爽又深邃的美凤眼的关键在于，无论眼线还是眼影，上下眼皮都要利用上，突出眼部轮廓并在视觉上让妆容更加自然。
    </div>
    <div class="closeFrame"></div>
    <input type="hidden " ng-model="productQuery2 " ng-init="productQuery2='CourseStep2' ">
    <div class="productList " ng-click='this[redirectFunc](this.Product.ProductID)' style="cursor:pointer
                " ng-repeat="Product in Products | filter:productQuery2 as Result ">
        <input class="ProductID " type="hidden " ng-bind="Product.ProductID ">
        <div class="productPresentation ">
            <div class="product ">
                <img ng-src="{{Product.ProductImageUrl}} ">
            </div>
            <div class="productInfo ">
                <div class="brand " ng-bind="Product.BrandName "></div>
                <div class="productName " ng-bind="Product.ProductName "></div>
                <div class="start ">
                    <div class="startImg " ng-repeat="rank in Product.Ranks ">
                        <img src="images/start.png ">
                    </div>
                </div>
            </div>
            <div class="eyeShadow " ng-switch="Product.CategoryID ">
                <img ng-switch-when="14 " src="images/eyeShadow.png ">
                <img ng-switch-when="12 " src="images/eyelasher.png ">
                <img ng-switch-when="13 " src="images/eyelinner.png ">
                <img ng-switch-when="4 " src="images/blush.png ">
                <img ng-switch-when="7 " src="images/lipgloss.png ">
                <img ng-switch-when="9 " src="images/lipstick.png ">
				<img ng-switch-when="6" src="images/fundation.png">
            </div>
            <div class="praise ">
                <img src="images/praise.png ">
                <span class="praiseNum " ng-bind="Product.Comments ">9999</span>
            </div>
        </div>
    </div>
    <div class="wapStep bigWordSize" id="stepThree">
        <div class="step ">Step 3</div>
        <div class="stepName bigWordSize ">唇妆注意</div>
        <div class="RelatedImg"><img src="images/3.jpg"></div>
    </div>
    <div class="smallWordSize debriefing ">
        与眼影相配的唇色也是让整个妆容和谐，提升你气质的关键哦。淡粉色、肉粉色都是不错的选择。
    </div>
    <div class="closeFrame"></div>
    <input type="hidden " ng-model="productQuery3 " ng-init="productQuery3='CourseStep3' ">
    <div class="productList " ng-click='this[redirectFunc](this.Product.ProductID)' style="cursor:pointer
                " ng-repeat="Product in Products | filter:productQuery3 as Result ">
        <input class="ProductID " type="hidden " ng-bind="Product.ProductID ">
        <div class="productPresentation ">
            <div class="product ">
                <img ng-src="{{Product.ProductImageUrl}} ">
            </div>
            <div class="productInfo ">
                <div class="brand " ng-bind="Product.BrandName "></div>
                <div class="productName " ng-bind="Product.ProductName "></div>
                <div class="start ">
                    <div class="startImg " ng-repeat="rank in Product.Ranks ">
                        <img src="images/start.png ">
                    </div>
                </div>
            </div>
            <div class="eyeShadow " ng-switch="Product.CategoryID ">
                <img ng-switch-when="14 " src="images/eyeShadow.png ">
                <img ng-switch-when="12 " src="images/eyelasher.png ">
                <img ng-switch-when="13 " src="images/eyelinner.png ">
                <img ng-switch-when="4 " src="images/blush.png ">
                <img ng-switch-when="7 " src="images/lipgloss.png ">
                <img ng-switch-when="9 " src="images/lipstick.png ">
				<img ng-switch-when="6" src="images/fundation.png">
            </div>
            <div class="praise ">
                <img src="images/praise.png ">
                <span class="praiseNum " ng-bind="Product.Comments ">9999</span>
            </div>
        </div>
    </div>
    <div class="summarize ">
        <div class="heart summarizeHeart "></div>
        <div class="bigWordSize lastText ">漂亮的美凤眼就这么完成啦！</div>
        <div class="heart summarizeRightHeart "></div>
    </div>
    <div class="clear "></div>
    <div class="RelatedImg lastImg ">
        <img src="images/12.jpg ">
    </div>
	<input type="hidden" ng-model="templateurl" ng-init="templateurl='/TryMakeup/comments.html'" />
<div id="add_comment" ng-include="templateurl"></div>
</body>

</html>